# Zillow Housing Pricing

## Required Packages

In [5]:
import pandas

## EDA
Read the data into memory

In [6]:
props = pandas.read_csv('./data/properties_2016.csv')
# properties2017 = pandas.read_csv('./data/properties_2017.csv')

/home/austin/.conda/envs/r_env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Take a peek

In [7]:
props.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2015.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,650756.0,1413387.0,2015.0,762631.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,7.0,NaN,NaN,...,1.0,NaN,571346.0,1156834.0,2015.0,585488.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,NaN,NaN,193796.0,433491.0,2015.0,239695.0,5725.17,NaN,NaN,NaN

### Cleaning
It appears that there are NaN values sprinkled through the dataset. Based on the codebook, it looks like this is split into either not having a specific feature or just missing data. 

An example of the first case is the `airconditionigtypeid` which has a value `NaN` when there is not air conditioning in the house. We don't want to remove all instances of no air conditioning as that will effect our final classification. Instead, we will treat these as categorical variables and use dummy variables for each categorical value. These columns are assumed to be those in the codebook that have the "(if any)" qualifier in their description.

The second case just deals with missing values. In the below code, we can check if we have any instances of a complete row excluding the columns that us NaN as a category.

In [36]:
# These are the columns where NaNs are considered a category and should not be removed
no_remove_nans = set(['airconditioningtypeid', 'decktypeid', 'fireplacecnt', 'poolcnt', 'regionidcity'])

# get the remaining columns
remove_nans = set(props.columns) - no_remove_nans

# check if there are any columns that have a complete row
(~props[remove_nans].isna().any('columns')).any()

False

It would appear that there is no complete row of data in the bunch. We will have to replace those values to get a semi-decent classifier. Note that we can't interpolate categorical/ordinal data. Let's handle oridinal data, then categorical data, and finally remove NaNs from the remaining data

In [48]:
ordinal_variables = ['bathroomcnt', 'bedroomcnt', 'buildingqualitytypeid', 'calculatedbathnbr', \
                     'threequarterbathnbr', 'fireplacecnt', 'fullbathcnt', 'garagecarcnt', \
                     'numberofstories', 'poolcnt', 'unitcnt']

# remove rows from here that have NaNs
# props[ordinal_variables]
# print(props.shape)
# props1 = props[~(props[ordinal_variables].isna()).any('columns')]
# print(props1.shape)

Screw that, let's try building a simple classifier with subset of features

In [52]:
trans = pandas.read_csv('./data/train_2016_v2.csv')

In [64]:
trans_ss = trans[trans['transactiondate'].str.startswith('2016-12')].drop_duplicates('parcelid')
props_ss = props[]

       parcelid  logerror transactiondate
3421   13923841    0.0090      2016-12-28
10829  10736972   -0.0367      2016-12-14
10941  11663348    0.0751      2016-12-05
12731  11913710    0.1621      2016-12-13
14707  11061551    0.0421      2016-12-20
17031  10821829    0.1371      2016-12-30
32222  14500952    0.0030      2016-12-22
32357  14621246    0.0159      2016-12-07
36884  11729067   -0.3581      2016-12-22
42035  11822007    0.0440      2016-12-08
43924  14141531   -0.0481      2016-12-28
74547  11419032   -0.0040      2016-12-29
88548  11084105    0.0411      2016-12-01
88549  14719380    0.0469      2016-12-01
88550  17251362   -0.0367      2016-12-01
88551  12687731    0.0050      2016-12-01
88552  14724205    0.1035      2016-12-01
88553  12160093    0.4713      2016-12-01
88554  11120340    0.0450      2016-12-01
88555  17234685   -0.0050      2016-12-01
88556  11037315   -0.0192      2016-12-01
88557  10828346   -0.0367      2016-12-01
88558  12076542   -0.0233      2016-12-01
88559  11625017   -0.0598      2016-12-01
88560  14333319    0.0208      2016-12-01
88561  12400165   -0.0747      2016-12-01
88562  10831166    0.0129      2016-12-01
88563  14705791    0.0070      2016-12-01
88564  11284811    0.0119      2016-12-01
88565  14721123    0.0109      2016-12-01
...         ...       ...             ...
90245  10757551    0.0953      2016-12-30
90246  12558267    0.0139      2016-12-30
90247  11710734    0.2095      2016-12-30
90248  14347592    0.0080      2016-12-30
90249  11341061   -0.1312      2016-12-30
90250  14027878    0.0421      2016-12-30
90251  12756771    0.0658      2016-12-30
90252  12758333    0.0030      2016-12-30
90253  11295458   -0.0294      2016-12-30
90254  12757889   -0.0111      2016-12-30
90255  11308315    0.0070      2016-12-30
90256  14353215    0.0218      2016-12-30
90257  10753416    0.0526      2016-12-30
90258  11756902    0.0889      2016-12-30
90259  11994047    0.0178      2016-12-30
90260  11440746    0.0237      2016-12-30
90261  11703478    0.0431      2016-12-30
90262  10965821   -0.2231      2016-12-30
90263  12067066    0.1398      2016-12-30
90264  11683263    0.0478      2016-12-30
90265  12062080   -0.3769      2016-12-30
90266  12265636   -0.0030      2016-12-30
90267  17109680    0.0010      2016-12-30
90268  12268527   -0.0151      2016-12-30
90269  12920746    0.0344      2016-12-30
90270  10774160   -0.0356      2016-12-30
90271  12046695    0.0070      2016-12-30
90272  12995401   -0.2679      2016-12-30
90273  11402105    0.0602      2016-12-30
90274  12566293    0.4207      2016-12-30

[1739 rows x 3 columns]